---
import { Icon } from "astro-icon/components";

const circulares = [
  {
    id: "ACUERDO N° 07",
    date: "14-Nov.2025",
    href: "/docs/acuerdo-07-2025.pdf",
    title: "Ver",
    desc: "Por medio del cual el consejo directivo de la institución educativa capilla del rosario adopta la resolución N° 202550084818 de 20/10/2025",
  },
  {
    id: "RESOLUCION RECTORAL N°091",
    date: "14-Nov.2025",
    href: "/docs/resolucion-09-2025.pdf",
    title: "Ver",
    desc: "Por medio de la cual el Rector de la Institución Educativa Capilla del Rosario, adopta el acuerdo N°7 del consejo Directivo de la Institución Educativa Capilla del Rosario.",
  },
];
---

<div class="overflow-x-auto rounded-xl border border-gray-100 shadow-sm">
  <table class="w-full text-left text-sm">
    <thead class="bg-gray-50 text-brand-dark uppercase text-xs font-bold">
      <tr>
        <th class="px-6 py-4">Número / ID</th>
        <th class="px-6 py-4">Fecha</th>
        <th class="px-6 py-4">Enlace</th>
        <th class="px-6 py-4">Descripción</th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100">
      {
        circulares.map((item) => (
          <tr class="hover:bg-brand-light/10 transition-colors">
            <td class="px-6 py-4 font-mono text-xs text-gray-500">{item.id}</td>
            <td class="px-6 py-4 text-gray-600">{item.date}</td>
            <td class="px-6 py-4">
              <a
                href={item.href}
                target="_blank"
                class="text-primary font-bold hover:underline flex items-center gap-2"
              >
                <Icon name="lucide:file-text" class="icon-sm" /> {item.title}
              </a>
            </td>
            <td class="px-6 py-4 text-gray-500">{item.desc}</td>
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
