---
import { Icon } from "astro-icon/components";

const info = [
    {
        icon: "lucide:map-pin",
        label: "Dirección",
        value: "Cl. 6 Sur #79-195, Medellín, Antioquia",
    },
    { icon: "lucide:phone", label: "Teléfono", value: "604 341 09 14" },
    {
        icon: "lucide:mail",
        label: "Correo",
        values: [
            "ie.capilladelrosario@yahoo.es",
            "secretaria@lacapilla.edu.co",
        ],
    },
];
---

<div class="space-y-6">
    {
        info.map((item) => (
            <div class="flex items-center gap-6 group">
                <div class="w-14 h-14 bg-brand-light flex items-center justify-center shrink-0 rounded-2xl group-hover:bg-primary transition-all duration-300">
                    <Icon
                        name={item.icon}
                        class="text-primary group-hover:text-white h-7 w-7 transition-colors"
                    />
                </div>
                <div>
                    <h5 class="text-brand-dark font-bold text-lg mb-1">
                        {item.label}
                    </h5>
                    {item.value ? (
                        <p class="text-gray-600 text-base">{item.value}</p>
                    ) : (
                        item.values?.map((val) => (
                            <a
                                href={`mailto:${val}`}
                                class="block text-gray-600 text-base hover:text-primary transition-colors"
                            >
                                {val}
                            </a>
                        ))
                    )}
                </div>
            </div>
        ))
    }
</div>
